<div>
  <strong>{{activity.name}}</strong>
  <p>{{activity.url}}</p>
  <p>{{activity.photo}} </p>
  <!-- <img src="http://halftimesportbar.letseat.at/system/business_logos/14767/original/c223c99ba1107aa04208.jpg?1349977399"> -->
</div>
