<h2 class="randomAct" {{action "getRandomActivity" currentCity}}>
  {{currentCity.name}}
</h2>

{{#if isOakland}}  <!-- this value comes from the computed property in "activity-randomizer.js" -->
  <small>(The developer of this app is from Oakland!!!)</small>
{{/if}}

{{#if showActivity}}
  {{activities-list activity=currentCity.randomAct}}
{{/if}}
