<div class="container">
  <div class="jumbotron splash-img">

    <!-- <h1>List of cities</h1> -->


      <!-- <br>
      <br> -->
      <div class="transp-window">
        <br>
        <h4>
          Choose a city.
        </h4>
        <br>
        {{#each model as |city|}}
          <br>
          <h2>
            {{#link-to 'city' city}}  <!-- each city is just the model or id. 'city' is the route name-->
              {{city.name}}
            {{/link-to}}
          </h2>
        {{/each}}

        <br>
        <h3>{{#link-to 'random'}}Get some random suggestions...{{/link-to}}</h3>
      </div>

  </div>
</div>
