{{#link-to 'cities'}}Back to the Cities list{{/link-to}}

<br><br>Click a city for a random suggestion...

<!-- TODO: Models are lost on page refresh.  Fix this. -->

<ul>
  {{#each model as |city|}}
    <li>
        {{activity-randomizer currentCity=city}}
    </li>
  {{/each}}

</ul>
